<style>
.main-content{
  /* padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px; */
}

.o-3column .col-md-3  {
  /* background-color: #C0C0C0;
  border: solid 1px #000000; */
  /* border-collapse: collapse; */

 }

.thumbnail{
  background:rgba(235,235,235,1.00);
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%
 }

 .thumbnail .Item-Data{
  position: absolute;
  top:100%;
 }

 .video{
  position:relative;
  width:100%;
}
.video iframe{

  top:0;
  right:0;
  width:100%;
  height:100%;
}
.box{
  position:relative;
  height:100px;
  background:rgba(235,235,235,1.00);
  overflow:hidden;
  margin-right: 100px;
  margin-left: 100px;
  padding: 0 30px;
}
.box h2{
  font-size: calc(18px + 0.25vw)
}
.box p{
  font-size: calc(10px + 0.25vw)
}
.video p{
  font-size: 0.5vw
}
.Item{
  height: 50px;
}
</style>
<div class="container-fluid"></div>
<div class="page-header">
  <div class="box">
    <h2 class=''>カテゴリ別週間音楽ランキング</h2>
    <p>Youtubeの音楽をカテゴリ別に分けたランキングです。</p>
  </div>
</div>
<div class="row o-3column">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class='col-md-1 col-sm-1 text-center'></th>
        <div class="row o-3column">
        <th class='col-md-3 col-sm-3 text-center '>ボーカロイド</th>
        <th class='col-md-3 col-sm-3 text-center'>邦楽</th>
        <th class='col-md-3 col-sm-3 text-center'>洋楽</th>
        </div>
        <th class='col-md-1 col-sm-1 text-center'></th>

      </tr>
    </thead>
    <tbody>
        <tr>
          <td class='col-md-1 text-center'></td>
          <td class='col-md-3 main-content'>
            <%= render 'vocaloid', product: @products_vocaloid %>
          </td>
          <td class='col-md-3 main-content'>
            <%= render 'japan', product: @products_japan %>
          </td>
          <td class='col-md-3 main-content'>
            <%= render 'yougaku', product: @products_western %>
          </td>
          <td class='col-md-1 text-center'></td>
    </tbody>
  </table>
  </div>
  <div class="text-center page"><%= paginate @products_japan %></div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
